.avatar-list-container{
    height: 40px;
    width: 40px;
    border-radius: 50% dashed;
}
.text-list-container{
    margin-left: 10px;
    font-weight: 500;
}  
.react-date-picker__wrapper {
    border: 1px solid  #ced4da !important;
    border-radius: 5px ;
    height: 37px;
  }