/* .div-list-container{
    height: 440px;
    width: 440px;
    border: 3px dashed;
    margin-bottom: 10px;
    margin: 20px;
} */
.my-section {
  overflow-y: auto; /* Включаем вертикальную прокрутку */
  margin-top: 2px;
  margin-bottom: 1px;
  margin-right: 10px;
  padding-top: 10px;
}
  .my-section::-webkit-scrollbar {
    width: 10px;
  }
  .my-section::-webkit-scrollbar-track{
    background-color: rgb(187, 186, 186);
    border-radius: 6px;
    margin-top: 125px;
  }
  .my-section::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 6px;
  }
  .div-list-containerMonitor {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 95%, rgba(167, 166, 166, 0.5) 100%);
  }
  